body {
	font-family: 'Open Sans';
}

a {
	color: #fff;
}

a:hover {
	text-decoration: none;
}

header {
	background: url('../img/header.png') no-repeat top center;
	min-height: 788px;
	background-size:contain;
	position: relative;
}

.up-header {
	background-color: #1d1d1d;
}

#logo {
	position: relative;
	top: 22px;
}

.arrow {
	width: 0; 
	height: 0; 
	border-left: 67px solid transparent;
	border-right: 67px solid transparent;
	position: absolute;
	top: 95px;
	left: -20px;
	border-top: 41px solid #1d1d1d;
}

.arrow-border {
	top: 98.2px;
	border-left: 67px solid transparent;
	border-right: 67px solid transparent;
	border-top: 41px solid #ff4900;
}


.upper {
	margin-top: 21px;
}

.upper a {
	font: bold 11pt/14pt 'Open Sans';
	letter-spacing: 0.24em;
}

.pdf-upper {
	margin-top: 33px;
}

.text-logo {
	font: lighter 21pt/32pt 'Open Sans';
	letter-spacing: 0.18em;
	color: #fff;
	padding-left: 0.5em;
}

.color-ru {
	color: #ff4900;
}

.text-description {
	padding-left: 1.1em;
	color: #797979;
}

.text-price {
	line-height: 2.1em;
	font-size: 14px;
}

#email {
	font-size: 12px;
	font-weight: lighter;
	letter-spacing: 0.01em;
	padding-left: 0;
}

.under-header {
	margin-top: 100px; 
}